<div class="m-4 text-center">
  <h2>
    Items editor
  </h2>
</div>
<mat-accordion class="example-headers-align " multi>
  <div class="ml-4 mr-4" *ngFor="let item of Items; let i = index">


    <mat-expansion-panel class="mt-2 glassy">
      <mat-expansion-panel-header>
        <mat-panel-title class="col-5">
          {{item.item}}
        </mat-panel-title>
        <mat-panel-description class="col-7">
          {{item.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="col-12 mt-4">
        <mat-label>Answer</mat-label>
        <input matInput [(ngModel)]="item.item">
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Clue</mat-label>
        <input matInput [(ngModel)]="item.description">
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Full sentence</mat-label>
        <textarea matInput [(ngModel)]="item.correctSentence"></textarea>
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Sentence with gaps</mat-label>
        <textarea matInput [(ngModel)]="item.sentenceWithGaps"></textarea>
      </mat-form-field>

      <mat-action-row class="ml-4 mr-4">
        <button mat-raised-button color="primary" (click)="update(item)">Update</button>
        <button mat-raised-button color="warn" (click)="remove(item)">Remove</button>
      </mat-action-row>

    </mat-expansion-panel>

  </div>
</mat-accordion>

<mat-action-row class="mt-2 ml-4 mr-4">
  <button mat-raised-button color="primary" (click)="AddNew()">Add new one</button>
</mat-action-row>

<mat-paginator class="mt-2 glassy ml-4 mr-4 footer" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)">
</mat-paginator>
