<br>

<h1 class="text-center">Courses library</h1>

<div class="m-5">


  <mat-accordion class="example-headers-align ">

    <div *ngFor="let item of learningSets; let i = index"> 
      <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="mt-4">
            <strong><h2>{{item.name}}</h2></strong> 
           </mat-panel-title>
           <mat-panel-description  class="mt-4">
            <strong><h2>Free</h2></strong>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <br>
        <h4>{{item.description}}</h4>
        <br>
       <strong>Author:root</strong> 

        <mat-action-row>
          <button mat-raised-button color="primary" (click)="AddToMyBoard(item.id)">Add to my courses</button>


        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

