<h2 class="text-center mb-4">Create account</h2>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Enter your login</mat-label>
    <input matInput placeholder="Login" (keyup)="checkIfExist(login.value, password.value)" #login>
    <mat-icon matSuffix>
      <i *ngIf="!loginAvailable" class="fa fa-times-circle" aria-hidden="true"></i>
      <i *ngIf="loginAvailable" class="fa fa-check-circle" aria-hidden="true"></i>
    </mat-icon>
    <mat-hint *ngIf="loginAvailable">available</mat-hint>
    <mat-hint *ngIf="!loginAvailable">already used</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Enter your password</mat-label>
    <input matInput type="password" placeholder="Password" (keyup)="checkIfPasswordCorrect(login.value, password.value)" #password>
    <mat-icon matSuffix>
      <i *ngIf="!passwordCorrect" class="fa fa-times-circle" aria-hidden="true"></i>
      <i *ngIf="passwordCorrect" class="fa fa-check-circle" aria-hidden="true"></i>
    </mat-icon>
    <mat-hint *ngIf="passwordCorrect">Correct</mat-hint>
    <mat-hint *ngIf="!passwordCorrect">too short</mat-hint>
  </mat-form-field>
</p>
<p class="text-center">
  <button mat-button mat-dialog-close mat-raised-button color="primary" class="mr-4">Cancel</button>
  <button mat-raised-button mat-dialog-close color="primary" [disabled]="!loginAvailable || password.value=='' || !passwordCorrect"
    (click)="register(login.value,password.value)">Login</button>

</p>