<mat-selection-list #shoes class="m-5">
  <mat-list-option *ngFor="let shoe of typesOfShoes">
    {{shoe}}
  </mat-list-option>
</mat-selection-list>


<mat-card class="m-5 background-image text-center" color="primary">

  <div class="baby text-center mt-3 ">
    <mat-label class="h3 row">Create new item</mat-label>
  </div>

  <mat-card-content class="ml-4 mt-4 text-center">

    <div class="text-center baby">

      <div class="baby text-center">

        <mat-form-field appearance="standard" class="row"  >
          <mat-label >Missing word</mat-label>
          <input matInput placeholder="placeholder" autocomplete="off" autofocus #gap>
        </mat-form-field>


        <mat-form-field appearance="standard" class="row"  >
          <mat-label >Clue: </mat-label>
          <input matInput placeholder="placeholder" autocomplete="off" autofocus #gap>
        </mat-form-field>

        <mat-label class="h6 row">Sentence with gap:</mat-label>
        <mat-form-field appearance="standard" class="row"  >
          <input matInput placeholder="placeholder" autocomplete="off" autofocus #gap>
        </mat-form-field>


        <mat-label class="h6 row">Full sentence:</mat-label>
        <mat-form-field appearance="standard" class="row"  >
          <input matInput placeholder="placeholder" autocomplete="off" autofocus #gap>
        </mat-form-field>
      </div>

      <br>
      <div class="baby text-center row">
        <mat-label class="h2 row" style="color: blue;">"test"</mat-label>
      </div>

      <br>
      <br>

    </div>
    <br>
    <div class="text-center">
      <button mat-raised-button color="primary" class="mb-4 text-center">Save</button>
    </div>

    <br>


  </mat-card-content>

</mat-card>