<br>
<br>
<mat-selection-list #shoes class="" >
  <mat-list-option *ngFor="let shoe of typesOfShoes">
    {{shoe}}
  </mat-list-option>
</mat-selection-list>


<mat-card class="m-5 background-image text-center" color="primary">

  <div class="baby text-center mt-3 ">
    <mat-label class="h3 row">Create new item</mat-label>
  </div>

  <mat-card-content class="ml-4 mt-4 text-center">

    <div class="text-center baby">

      <div class="baby text-center">
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Missing word</mat-label>
            <input matInput placeholder="placeholder" autocomplete="off" autofocus #gap>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Clue or synonyms: </mat-label>
            <input matInput placeholder="placeholder" autocomplete="off" autofocus #gap>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Sentence with gaps (use _):</mat-label>
            <input matInput placeholder="placeholder" autocomplete="off" autofocus #gap>
          </mat-form-field>
        </p>
        <p>

          <mat-form-field appearance="standard">
            <mat-label>Full sentence:</mat-label>
            <input matInput placeholder="placeholder" autocomplete="off" autofocus #gap>
          </mat-form-field>
        </p>
      </div>

      <br>
      <div class="baby text-center row">
        <mat-label class="h2 row" style="color: blue;">"test"</mat-label>
      </div>

      <br>
      <br>

    </div>
    <br>
    <div class="text-center">
      <button mat-raised-button color="primary" class="mb-4 text-center">Save</button>
    </div>

    <br>


  </mat-card-content>

</mat-card>