<div class="full-height">


  <br>

  <h1 class="text-center ">Your courses</h1>

  <div class=" m-4">


    <mat-accordion class="example-headers-align">

      <div *ngFor="let set of CoursesList; let i = index">

        <mat-expansion-panel class="mt-2 glassy " [expanded]="step === i" (opened)="SetStep(i)" hideToggle>

          <mat-expansion-panel-header>
            <mat-panel-title style="width: 100%;">
              <h2 class="cut-text mt-3 col-8 text-left">{{set.name}} fsfasfasdfsfasfsadf </h2>
              <h2 class="mt-3 col-4 text-right">{{Summaries[i]?.progressInPercentage | number:'1.0-2'}}%</h2>

            </mat-panel-title>

          </mat-expansion-panel-header>
          <br>
          <h4 class=" ml-3 text-left">{{set.description}}</h4>
          <br>
          <h2 class="mt-3 ml-3 ">Author: root</h2>
          <mat-action-row>
            <button mat-raised-button color="warn" (click)="DeleteThisCourse(set.id)"><i class="fa fa-trash fa-2x"
                aria-hidden="true"></i></button>
            <button mat-raised-button color="accent" (click)="ResetProgress(set.id)">Reset</button>
            <button mat-raised-button color="primary" (click)="RunLearningModule(set)">Start lesson</button>
          </mat-action-row>

        </mat-expansion-panel>
      </div>

    </mat-accordion>
  </div>
  <br>
  <br>
  <br>
  <br>

</div>