
body {
     font-family: Roboto-Light, Roboto, 'Helvetica Neue', sans-serif !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.glassy {
     background: url('/assets/vbg9.jpg') no-repeat center; 
     background-color: rgba(255,255,255,0.75);
     background-blend-mode: lighten;
   }
