.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  button{
   outline: none
  }
  .mat-icon{
     margin-right: 15px;;;
  }
  .full-height {
   height:93vh;
 }