<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="SmoothHandler" />
      <remove name="RestfulUrlMapModule" />
      <remove name="PlaylistHandler" />
      <remove name="BitrateModule" />
      <remove name="LiveStreamingHandler" />
    </modules>
    <aspNetCore processPath="dotnet" arguments=".\Targets.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 5dab709e-0bcc-4131-ad0a-15a7dddad043-->