<div class="full-height">
  <br>
  <br>
<mat-card class=" mr-4 ml-4 mt-4  mb-5  background-image text-center"  color="primary" *ngIf="!finished" 
[ngClass]="{ glassy: !AnswerVisibility && (IsError || !IsError), error: AnswerVisibility && IsError, correct: AnswerVisibility && !IsError }" >
  <mat-progress-bar mode="determinate" class="row ml-2 mr-5" [value]="(indx*this.Items.length)"></mat-progress-bar>


  <mat-card-content class="ml-4 mt-4 text-center full-height" >

    <div *ngIf="AnswerVisibility" class="text-center baby">

      <div *ngIf="!IsError" >


        <h1><strong>Correct answer </strong> </h1>
      </div>
      <div *ngIf="IsError" >


        <h1><strong>Incorrect answer</strong> </h1>
      </div>
      <br>
      <mat-label class="h6">Correct answer was... </mat-label>
      <h1><strong>{{Item?.item}}</strong> </h1>
      <br>
      <mat-label class="h6">Full sentence:</mat-label>
      <div class=" m-3" *ngIf="AnswerVisibility">
        <h1 class="h2 text-center"> {{Item?.correctSentence}}</h1>
      </div>
      <button mat-raised-button color="primary" class="mb-4 row"  *ngIf="AnswerVisibility"
         #nextBtn autofocus cdkFocusInitial  (click)="nextQuestion()">Next
        question</button>
    </div>


    <div *ngIf="!AnswerVisibility" class="text-center baby">
      <div class="baby text-center">
        <mat-label class="h6 row mt-2 text-center">Clue: </mat-label>
      </div>
      <br>
      <div class="baby text-center row">
        <h1 class="h4 row mr-3" style="color: blue;">"{{Item?.description}}"</h1>
      </div>
      <br>
      <br>
      <br>
      <ng-container *ngFor="let word of words index as i" class="container-name ">

        <div class="baby text-center"> 
          <mat-form-field appearance="standard" class="mr-3" *ngIf="word.includes('_')" style="width: 70px; height: 0px;  padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;">
            <input matInput placeholder="{{word}}" [(ngModel)]="answers[i]" autocomplete="off"
              (keyup.enter)="checkAnswer()" autofocus #gap>
          </mat-form-field>
          <h2 *ngIf="!words[i].includes('_')">{{word}}&nbsp;</h2>
        </div>
      </ng-container>


      <div class="ml-0">
        <div class="row">
          <div class="col">

          </div>
          <div class="col-6">
            <button mat-raised-button color="primary" class="mb-4 text-center" *ngIf="!AnswerVisibility"
          (click)="checkAnswer()">Check</button>
          </div>
          <div class="col">

          </div>
        </div>
      </div>




      <br>
    </div>


  </mat-card-content>

</mat-card>
</div>