<mat-card class="m-5 background-image text-center" color="primary">
  <mat-progress-bar mode="determinate" class="row ml-2 mr-5" [value]="(indx*10)"></mat-progress-bar>

  <div class="baby text-center mt-3 ">
    <mat-label class="h3 row" *ngIf="!CorrectVisible">Fill gaps below...</mat-label>
  </div>



  <mat-card-content class="ml-4 mt-4 text-center">

    <div *ngIf="CorrectVisible" class="text-center baby">
      
      <div *ngIf="!error">

        <i class="fa fa-smile-o fa-5x" aria-hidden="true" style="color: green;"></i>
        <h1><strong>Contratulations!!! </strong> </h1>
      </div>
      <div *ngIf="error">

        <i class="fa fa-frown-o fa-5x" aria-hidden="true" style="color:orangered;"></i>
        <h1><strong>Sorry dude... </strong> </h1>
      </div>
      <br>
      <mat-label class="h6">Correct answer was... </mat-label>
      <h1><strong>{{Item?.item}}</strong> </h1>
      <br>
      <mat-label class="h6">Full sentence:</mat-label>
      <div class=" m-3" *ngIf="CorrectVisible">
        <h1 class="h2 text-center"> {{Item?.correctSentence}}</h1>
      </div>
      <button mat-raised-button color="primary" class="mb-4 row" #next *ngIf="CorrectVisible"
        (keyup.enter)="nextQuestion()" (click)="nextQuestion()">Next
        question</button>
    </div>

    <div *ngIf="!CorrectVisible" class="text-center baby">
      <div class="baby text-center">
        <mat-label class="h6 row">Clue: </mat-label>
      </div>
      <br>
      <div class="baby text-center row">
        <mat-label class="h2 row" style="color: blue;">"{{Item?.description}}"</mat-label>
      </div>

      <br>
      <br>
      <br>
      <ng-container *ngFor="let word of words index as i" class="container-name ">

        <div class="baby text-center">
          <mat-form-field appearance="standard" class="mr-4" *ngIf="word.includes('_')" style="width: 90px;">
            <input matInput placeholder="{{word}}" [(ngModel)]="answers[i]" autocomplete="off"
              (keyup.enter)="checkAnswer()" autofocus #gap>
          </mat-form-field>
          <h1 *ngIf="!words[i].includes('_')">{{word}}&nbsp;</h1>
        </div>

      </ng-container>
    </div>
    <br>
    <div class="text-center">
      <button mat-raised-button color="primary" class="mb-4 text-center" *ngIf="!CorrectVisible"
        (click)="checkAnswer()">Check</button>

    </div>

    <br>


  </mat-card-content>

</mat-card>